/* Header Styles */

.header-image__about {
    background-image: url(../img/yamahajapon.jpg);
    background-size: cover;
    background-position: center;
    height: 32vh;
    width: 100%;
}

/* Main Style */

.container-about {
    img {
        width: 100%;
    }
}